
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #e0e4e7;
    margin: 0;
    padding: 0;
}

.container {
    background: #f4f5f7;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
    width: 60%;
    margin: 50px auto;
    border: 5px solid black;
}


.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.todo {
    width: 40%;
    text-align: left;
    padding-right: 20px;
}

.todo h3 {
    text-align: left;
}

ol {
    padding-left: 20px;
    list-style-type: decimal;
}

li {
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
    background: white;
    border: 1px solid #ccc;
    margin: 5px 0;
    border-radius: 4px;
}

.form {
    width: 55%;
    text-align: left;
}

.input {
    margin: 10px 0;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}


button {
    background-color: #3b82f6;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #2563eb;
}
